[submodule "protos"]
	path = pitaya-protos
	url = https://github.com/topfreegames/pitaya-protos
[submodule "cpp-lib/deps/protobuf-c"]
	path = cpp-lib/deps/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c
