[submodule "protos"]
	path = pitaya-protos
	url = git@github.com:topfreegames/pitaya-protos.git
[submodule "cpp-lib/deps/grpc"]
	path = cpp-lib/deps/grpc
	url = https://github.com/grpc/grpc
[submodule "cpp-lib/deps/protobuf-c"]
	path = cpp-lib/deps/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c
[submodule "cpp-lib/deps/spdlog"]
	path = cpp-lib/deps/spdlog
	url = https://github.com/gabime/spdlog
